html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

img,
svg {
  max-width: 100%;
}

/* rwd img css，使圖片縮放 */
img{
  max-width: 100%;
  height: auto;
}

/* 全域 border box：所有元素不用算 padding */
*,*::before,*::after{
  box-sizing: border-box;
}